.root {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  align-items: center;
=======
>>>>>>> 7f7e25df2641e13032057bfba578b895ed1a6a3f
  padding: 25px;
  margin-bottom: 10px;
}

.root img {
  max-width: 250px;
  border-radius: 5px;
  margin-right: 30px;
}

.details {
  flex-direction: column;
}

.details ul {
  margin: 10px 0px;
}

.richText {
  margin: 10px 0px;
}

.stackContainer {
  margin: 10px 0px;
}

@media only screen and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .root img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .stackContainer {
    justify-content: center;
  }
}
