:root {
  --black: #000000;
  --white: #ffffff;
  --midnight: #282c34;
  --highlight: #2b303b;

  --mono-1: #abb2bf;
  --mono-2: #828997;
  --mono-3: #5c6370;

  --cyan: #56b6c2;
  --blue: #61afef;
  --purple: #c678dd;
  --green: #98c379;

  --red-1: #e06c75;
  --red-2: #be5046;

  --orange-1: #d19a66;
  --orange-2: #e5c07b;
}

/* consider a variables.css */

* {
  box-sizing: border-box;
}

/* remember the question about the css reset */

html,
body {
  height: 100%;
  background: var(--midnight);
  color: var(--mono-1);
  font-size: 18px;
  line-height: 1.4;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mono-1);
}

p {
  color: var(--mono-1);
}
