.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 5px 10px;
}

.root a {
  text-decoration: none;
  color: var(--white);
  padding: 15px;
}

.root a:hover,
.root a:focus {
  color: var(--navy);
  background-color: var(--white);
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav a {
  margin: 0px 5px;
}

.short {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .short {
    display: flex;
    flex-direction: row;
  }
}
