.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 350px;
  margin-right: 50px;
}

.description {
  margin-top: 25px;
  text-align: right;
}

.list {
  padding-top: 10px;
}

.list * {
  margin-bottom: 4px;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }

  .title {
    align-items: center;
    margin-right: 0;
  }

  .description {
    text-align: center;
    width: 80%;
  }

  .article {
    margin-bottom: 0;
    margin-top: 25px;
  }
}
